@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-display: block;
  src: url('../../../public/fonts/roboto-400.woff2') format('woff2');
}

@font-face {
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
  font-display: block;
  src: url('../../../public/fonts/roboto-500.woff2') format('woff2');
}

@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  font-display: block;
  src: url('../../../public/fonts/roboto-700.woff2') format('woff2');
}
