@use 'modern-normalize';
@use 'vars/global';
@use 'themes/light';
@use 'themes/dark';
@use 'fonts';

html,
body {
  font-family: var(--font-family-main);
  font-weight: 400;
  font-style: normal;

  /* Важно для скриншотов: делаем отрисовку шрифтов одинаковой */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}

.app-sb {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
  background: var(--bg-color);
  color: var(--primary-color);
}
