@use 'modern-normalize';
@use 'vars/global';
@use 'themes/light';
@use 'themes/dark';

.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}

.app-sb {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}
