.LoginForm {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.input {
  margin-top: 10px;
}

.loginBtn {
  margin-top: 15px;
  margin-left: auto;
}

.spinnerWrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
