.modal {
  position: fixed;
  inset: 0;
  opacity: 0;
  z-index: -1;
  color: var(--primary-color);
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  padding: 20px;
  border-radius: 12px;
  background-color: var(--bg-color);
  transform: scale(0.5);
  transition: transform 0.3s;
  max-width: 60%;
}

.opened {
  z-index: var(--modal-z-index);
  opacity: 1;

  .content {
    transform: scale(1);
  }
}

.closed {
  .content {
    transform: scale(0.2);
  }
}
