.button {
  cursor: pointer;
  outline: none;
  border: none;
}

.clear,
.clear-inverted {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none;
}

.button.clear {
  color: var(--primary-color);
}

.button.clear-inverted {
  color: var(--inverted-primary-color);
}

.background {
  background-color: var(--bg-color);
  color: var(--primary-color);
  border: 0;
}

.background-inverted {
  background-color: var(--inverted-bg-color);
  color: var(--inverted-primary-color);
  border: 0;
}

.square {
  padding: 0;
}

.square.size-m {
  width: var(--font-line-m);
  height: var(--font-line-m);
}

.square.size-l {
  width: var(--font-line-l);
  height: var(--font-line-l);
}

.square.size-xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
}

.size-m {
  font: var(--font-m);
}

.size-l {
  font: var(--font-l);
}

.size-xl {
  font: var(--font-xl);
}
