.item {
  display: flex;
  align-items: center;
}

.link {
  margin-left: 10px;
  white-space: nowrap;
  opacity: 1;
  transition: opacity 0.15s 0.15s;
}

.icon {
  flex-shrink: 0;
  width: var(--sidebar-icon-size);
  height: var(--sidebar-icon-size);
  fill: var(--inverted-primary-color);
}

.collapsed {
  .link {
    width: 0;
    margin-left: 0;
    overflow: hidden;
    opacity: 0;
    transition:
      opacity 0.15s,
      width 0s 0.15s,
      margin-left 0s 0.15s;
  }
}
