.BIG {
  .card {
    margin-bottom: 30px;
  }
}

.SMALL {
  display: grid;
  gap: 30px;

  /* Карточка в SMALL имеет жёсткую ширину 230px, поэтому треки фиксированные */
  grid-template-columns: repeat(auto-fill, 230px);
  grid-auto-rows: max-content;
  justify-content: start;
}
